# >>> CLEANUP

# This section contains patterns to be deleted by `make clean`
build
dist
*.egg-info
**/.mypy_cache/
__pycache__
.pytest_cache
.ruff_cache
.benchmarks
.ccls-cache

*.pyc
*.log
*.log.*
*.bkp
*.tar

tests/report*
tests/.blockchains
tests/.ipfs_repo
tests/walid_docker/python_packages.txt
tests/walid_docker/python_packages
# <<< CLEANUP
.obsidian

_hanuki
hanuki.toml
index.html
